/* ===General================================================================= */

a {
  text-decoration: none !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pt-15 {
  padding-top: 15rem !important;
}


/* ===Header================================================================== */

.pep-rally {
  background: no-repeat fixed center url(/images/PepRally2017_SpokeNews_Compressed.svg);
  background-origin: content-box;
  background-size: 100% 100%;
  color: white;
  height: 44.35rem;
}

.header-text {
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 15rem;
}

.slide-up {
  animation-name: slideUp;
  animation-duration: 2s;
}

.slide-down {
  animation-name: slideDown;
  animation-duration: 2s;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* ===Websites===============================================================- */

.card-month {
  color: black;
  text-decoration: none;
}

.card-year {
  background-color: #333;
  border-color: #333;
  border-radius: 0px;
  text-decoration: none;
}

.card-year-content {
  background-color: #333;
  border-color: #333;
  color: white;
}

.category {
  padding-top: 5rem !important;
}

.grayscale-link {
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.grayscale-link:hover {
  filter: grayscale(0%);
}


/* ===Footer================================================================== */

.webhost-bar {
  background-color: black;
  bottom: 0;
  opacity: 0.9;
  padding: 1rem;
  position: fixed;
  width: 100%;
}


/* ===Animations============================================================-- */

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


/* ===Mobile================================================================== */

@media screen and (max-device-width: 480px) {
  header {
    padding: 0%;
  }
  .experience-category {
    border: none;
  }
  .header-text {
    margin-top: 0rem;
    height: 100%;
  }
  .slide-up {
    animation: none;
  }
  .slide-down {
    animation: none;
  }
  .pep-rally {
    background: no-repeat fixed center/40% url(/images/PepRally2017_SpokeNews_Compressed.svg);
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .slide-up {
    animation: none;
  }
  .slide-down {
    animation: none;
  }
}