* {
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(80, 26, 80);
  margin: 0;
}

div.container {
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div.header {
  display: inline-block;
  width: 100%;
  color: rgb(201, 207, 135);
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 0px 50px rgb(119, 119, 70);
}

div.header:hover {
  cursor: pointer;
}

div.content {
  display: inline-block;
  color: rgb(80, 26, 80);
  width: 100%;
  height: 100%;
  background-image: url("background1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

div.footer {
  bottom: 0;
  display: block;
  height: 0;
}

p {
  margin-left: 25px;
}

footer {
  margin-left: 25px;
  color: rgb(201, 207, 135);
  padding: 5px;
}